---
import Nav from "../components/Nav.astro";
import ogimage from "../images/ogimage.webp";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<style>
	body{
		background-color: rgb(24 24 27);
		color: white
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta property="og:image" content={ogimage.src} />
		<title>{title}</title>
	</head>
	<body>
		<Nav/>
		<slot/>
	</body>
</html>
